.pf-v6-c-log-viewer {
  --pf-v6-c-log-viewer--Height: 100%;
  --pf-v6-c-log-viewer--MaxHeight: auto;
  --pf-v6-c-log-viewer--m-line-numbers__index--Display: inline;
  --pf-v6-c-log-viewer__header--MarginBlockEnd: var(--pf-t--global--spacer--sm);
  --pf-v6-c-log-viewer__main--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-log-viewer__main--BorderWidth: var(--pf-t--global--border--width--box--default);
  --pf-v6-c-log-viewer__main--BorderColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-log-viewer__scroll-container--Height: 37.5rem;
  --pf-v6-c-log-viewer__scroll-container--PaddingBlockStart: var(--pf-t--global--spacer--sm);
  --pf-v6-c-log-viewer__scroll-container--PaddingBlockEnd: var(--pf-t--global--spacer--sm);
  --pf-v6-c-log-viewer--m-line-numbers__list--before--InsetBlockStart: 0;
  --pf-v6-c-log-viewer--m-line-numbers__list--before--InsetBlockEnd: 0;
  --pf-v6-c-log-viewer--m-line-numbers__list--before--Width: var(--pf-t--global--border--width--divider--default);
  --pf-v6-c-log-viewer--m-line-numbers__list--before--BackgroundColor: var(--pf-t--global--border--color--default);
  --pf-v6-c-log-viewer__list--Height: auto;
  --pf-v6-c-log-viewer--m-line-numbers__list--InsetInlineStart: var(--pf-v6-c-log-viewer__index--Width);
  --pf-v6-c-log-viewer__list--FontFamily: var(--pf-t--global--font--family--mono);
  --pf-v6-c-log-viewer__list--FontSize: var(--pf-t--global--font--size--body--sm);
  --pf-v6-c-log-viewer__index--Display: none;
  --pf-v6-c-log-viewer__index--Width: 4.0625rem;
  --pf-v6-c-log-viewer__index--PaddingInlineEnd: var(--pf-t--global--spacer--xl);
  --pf-v6-c-log-viewer__index--PaddingInlineStart: var(--pf-t--global--spacer--lg);
  --pf-v6-c-log-viewer__index--Color: var(--pf-t--global--text--color--subtle);
  --pf-v6-c-log-viewer__index--BackgroundColor: transparent;
  --pf-v6-c-log-viewer--line-number-chars: 4.4;
  --pf-v6-c-log-viewer--m-line-number-chars__index--PaddingInlineEnd: var(--pf-t--global--spacer--xs);
  --pf-v6-c-log-viewer--m-line-number-chars__index--Width: calc(1ch * var(--pf-v6-c-log-viewer--line-number-chars) + var(--pf-v6-c-log-viewer__index--PaddingInlineEnd) + var(--pf-v6-c-log-viewer__index--PaddingInlineStart));
  --pf-v6-c-log-viewer__text--PaddingInlineEnd: var(--pf-t--global--spacer--md);
  --pf-v6-c-log-viewer__text--PaddingInlineStart: var(--pf-t--global--spacer--md);
  --pf-v6-c-log-viewer__text--Color: var(--pf-t--global--text--color--regular);
  --pf-v6-c-log-viewer__text--WordBreak: break-all;
  --pf-v6-c-log-viewer__text--WhiteSpace: break-spaces;
  --pf-v6-c-log-viewer__text--LineBreak: anywhere;
  --pf-v6-c-log-viewer--m-nowrap__text--WhiteSpace: nowrap;
  --pf-v6-c-log-viewer__string--m-match--Color: var(--pf-t--global--text--color--on-highlight);
  --pf-v6-c-log-viewer__string--m-match--BackgroundColor: var(--pf-t--global--background--color--highlight--default);
  --pf-v6-c-log-viewer__string--m-current--Color: var(--pf-t--global--text--color--on-highlight);
  --pf-v6-c-log-viewer__string--m-current--BackgroundColor: var(--pf-t--global--background--color--highlight--clicked);
  --pf-v6-c-log-viewer__timestamp--FontWeight: var(--pf-t--global--font--weight--body--bold);
  --pf-v6-c-log-viewer--c-toolbar--PaddingBlockStart: 0;
  --pf-v6-c-log-viewer--c-toolbar--PaddingBlockEnd: 0;
  --pf-v6-c-log-viewer--c-toolbar__content--PaddingInlineEnd: 0;
  --pf-v6-c-log-viewer--c-toolbar__content--PaddingInlineStart: 0;
  --pf-v6-c-log-viewer--c-toolbar__group--m-toggle-group--spacer: 0;
  --pf-v6-c-log-viewer--c-toolbar__group--m-toggle-group--m-show--spacer: var(--pf-t--global--spacer--sm);
  --pf-v6-c-log-viewer--m-dark__main--BorderWidth: 0;
  --pf-v6-c-log-viewer--m-dark__main--BackgroundColor: var(--pf-t--global--background--color--inverse--default);
  --pf-v6-c-log-viewer--m-dark__text--Color: var(--pf-t--global--text--color--inverse);
  --pf-v6-c-log-viewer--m-dark__index--Color: var(--pf-t--global--text--color--inverse);
  display: flex;
  flex-direction: column;
  height: var(--pf-v6-c-log-viewer--Height);
  max-height: var(--pf-v6-c-log-viewer--MaxHeight);
}

html:not(.pf-v6-theme-dark) .pf-v6-c-log-viewer.pf-m-dark { 
  --pf-v6-c-log-viewer__main--BorderWidth: var(--pf-v6-c-log-viewer--m-dark__main--BorderWidth);
  --pf-v6-c-log-viewer__main--BackgroundColor: var(--pf-v6-c-log-viewer--m-dark__main--BackgroundColor); 
  --pf-v6-c-log-viewer__text--Color: var(--pf-v6-c-log-viewer--m-dark__text--Color); 
  --pf-v6-c-log-viewer__index--Color: var( --pf-v6-c-log-viewer--m-dark__index--Color); 
}

.pf-v6-c-log-viewer.pf-m-wrap-text {
  word-break: break-all;
}
.pf-v6-c-log-viewer.pf-m-nowrap {
  --pf-v6-c-log-viewer__text--WhiteSpace: var(--pf-v6-c-log-viewer--m-nowrap__text--WhiteSpace);
}
.pf-v6-c-log-viewer.pf-m-line-numbers {
  --pf-v6-c-log-viewer__index--Display: var(--pf-v6-c-log-viewer--m-line-numbers__index--Display);
}
.pf-v6-c-log-viewer.pf-m-line-numbers .pf-v6-c-log-viewer__list {
  position: absolute;
  inset-inline-start: var(--pf-v6-c-log-viewer--m-line-numbers__list--InsetInlineStart);
  inset-inline-end: 0;
}
.pf-v6-c-log-viewer.pf-m-line-numbers .pf-v6-c-log-viewer__list::before {
  position: absolute;
  inset-block-start: var(--pf-v6-c-log-viewer--m-line-numbers__list--before--InsetBlockStart);
  inset-block-end: var(--pf-v6-c-log-viewer--m-line-numbers__list--before--InsetBlockEnd);
  inset-inline-start: 0;
  width: var(--pf-v6-c-log-viewer--m-line-numbers__list--before--Width);
  content: "";
  background: var(--pf-v6-c-log-viewer--m-line-numbers__list--before--BackgroundColor);
}
.pf-v6-c-log-viewer.pf-m-line-number-chars {
  --pf-v6-c-log-viewer__index--PaddingInlineEnd: var(--pf-v6-c-log-viewer--m-line-number-chars__index--PaddingInlineEnd);
  --pf-v6-c-log-viewer__index--Width: var(--pf-v6-c-log-viewer--m-line-number-chars__index--Width);
}
.pf-v6-c-log-viewer .pf-v6-c-toolbar {
  --pf-v6-c-toolbar--PaddingBlockStart: var(--pf-v6-c-log-viewer--c-toolbar--PaddingBlockStart);
  --pf-v6-c-toolbar--PaddingBlockEnd: var(--pf-v6-c-log-viewer--c-toolbar--PaddingBlockEnd);
  --pf-v6-c-toolbar__content--PaddingInlineEnd: var(--pf-v6-c-log-viewer--c-toolbar__content--PaddingInlineEnd);
  --pf-v6-c-toolbar__content--PaddingInlineStart: var(--pf-v6-c-log-viewer--c-toolbar__content--PaddingInlineStart);
  --pf-v6-c-toolbar__group--m-toggle-group--spacer: 0;
  --pf-v6-c-toolbar__group--m-toggle-group--m-show--spacer: var(--pf-v6-c-log-viewer--c-toolbar__group--m-toggle-group--m-show--spacer);
}
.pf-v6-c-log-viewer .pf-v6-c-toolbar__content-section {
  flex-wrap: nowrap;
}

.pf-v6-c-log-viewer__header {
  margin-block-end: var(--pf-v6-c-log-viewer__header--MarginBlockEnd);
}

.pf-v6-c-log-viewer__main {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: var(--pf-v6-c-log-viewer__main--BackgroundColor);
  border: var(--pf-v6-c-log-viewer__main--BorderWidth) solid var(--pf-v6-c-log-viewer__main--BorderColor);
}

.pf-v6-c-log-viewer__scroll-container {
  position: relative;
  height: var(--pf-v6-c-log-viewer__scroll-container--Height);
  padding-block-start: var(--pf-v6-c-log-viewer__scroll-container--PaddingBlockStart);
  padding-block-end: var(--pf-v6-c-log-viewer__scroll-container--PaddingBlockEnd);
  overflow: auto;
  will-change: transform;
  direction: ltr;
}

.pf-v6-c-log-viewer__list {
  position: relative;
  height: var(--pf-v6-c-log-viewer__list--Height);
  font-family: var(--pf-v6-c-log-viewer__list--FontFamily);
  font-size: var(--pf-v6-c-log-viewer__list--FontSize);
}

.pf-v6-c-log-viewer__list-item {
  inset-inline-start: 0;
  width: 100%;
}

.pf-v6-c-log-viewer__string.pf-m-match {
  color: var(--pf-v6-c-log-viewer__string--m-match--Color, inherit);
  background-color: var(--pf-v6-c-log-viewer__string--m-match--BackgroundColor);
}
.pf-v6-c-log-viewer__string.pf-m-current {
  color: var(--pf-v6-c-log-viewer__string--m-current--Color, inherit);
  background-color: var(--pf-v6-c-log-viewer__string--m-current--BackgroundColor);
}

.pf-v6-c-log-viewer__index {
  position: fixed;
  inset-inline-start: 0;
  display: var(--pf-v6-c-log-viewer__index--Display);
  width: var(--pf-v6-c-log-viewer__index--Width);
  padding-inline-start: var(--pf-v6-c-log-viewer__index--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-log-viewer__index--PaddingInlineEnd);
  font-family: var(--pf-v6-c-log-viewer__index--FontFamily, inherit);
  font-size: var(--pf-v6-c-log-viewer__index--FontSize, inherit);
  color: var(--pf-v6-c-log-viewer__index--Color);
  user-select: none;
  background-color: var(--pf-v6-c-log-viewer__index--BackgroundColor);
}

.pf-v6-c-log-viewer__text {
  display: block;
  padding-inline-start: var(--pf-v6-c-log-viewer__text--PaddingInlineStart);
  padding-inline-end: var(--pf-v6-c-log-viewer__text--PaddingInlineEnd);
  font-family: var(--pf-v6-c-log-viewer__text--FontFamily, inherit);
  font-size: var(--pf-v6-c-log-viewer__text--FontSize, inherit);
  color: var(--pf-v6-c-log-viewer__text--Color);
  word-break: var(--pf-v6-c-log-viewer__text--WordBreak);
  white-space: var(--pf-v6-c-log-viewer__text--WhiteSpace);
  line-break: var(--pf-v6-c-log-viewer__text--LineBreak);
}

.pf-v6-c-log-viewer__timestamp {
  font-weight: var(--pf-v6-c-log-viewer__timestamp--FontWeight);
}